# Build artifacts
packages/*/lib/
packages/*/dist/
examples/*/android/
examples/*/ios/

# Dependencies
node_modules/

# Generated code
**/generated/
**/nitrogen/

# Package lock files
package-lock.json
